Django>=3.1.7
django-filter>=2.4.0
mysqlclient>=2.0.3
djangorestframework==3.12.3
drf-yasg>=1.20.0
Celery>=5.0.5
redis>=3.5.3
django-redis>=4.12.1
drf-renderer-xlsx>=0.4.0
pandas>=1.2.4
django-celery-beat>=2.2.0

channels>=3.0.3 # Web socket
django-cors-headers>=3.7.0
graphene_django>=2.15.0
tablib>=3.0.0
django-constance>=2.8.0
django-constance[database] # https://django-constance.readthedocs.io/
django-constance[redis]
django-tinymce>=3.3.0 # https://django-tinymce.readthedocs.io/
pyjwt>=2.1.0 # https://pyjwt.readthedocs.io/ chua dung den

djangorestframework-simplejwt>=4.7.1
apscheduler>=3.7.0 # https://apscheduler.readthedocs.io/
django-apscheduler>=0.5.2
django-import-export
# boto3 # Amazone S3

jupyterlab